@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* Reset */
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,
dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {margin:0;padding:0; outline:none;}
html, body{width:100%;}
html{-webkit-touch-callout:none; -webkit-user-select:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); position: relative; min-height: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
body{width:100%; background:#fff; min-width:320px; min-height:100%; -webkit-text-size-adjust:none;word-wrap:break-word;word-break:break-all;}
body,input,select,textarea,button {border:none;font-size:12px;color:#000;font-family:"Noto Sans KR", sans-serif;letter-spacing:-0.02em;}
ul,ol,li{list-style:none;}
table{width:100%;border-spacing:0;border-collapse:collapse;}
img,fieldset{border:0;}
address,caption,cite,code,em{font-style:normal;font-weight:normal;}
label,img,input,select,textarea,button{vertical-align:middle;}
caption,legend{line-height:0;font-size:1px;overflow:hidden;}
.hide { position:absolute; left:-300000%;}
hr{display:none;}
main,header,section,nav,footer,aside,article,figure{display:block;}
a{color:#000;text-decoration:none;}
 * {-webkit-tap-highlight-color:rgba(0,0,0,0) !important;tap-highlight-color:rgba(0,0,0,0) !important;}
a:link,a:hover,a:active{text-decoration:none;}
.clear { zoom:1;clear:both;}
.clear:after { content:""; display:block; clear:both;}
.skip { position:absolute; left:0; top:-100px; width:100%; height:50px; background:#000; text-align:center; color:#fff; line-height:50px;}
.skip:focus { top:0;}

/* Input 자동완성 배경 막기 */

input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
       -webkit-box-shadow: 0 0 0 1000px none inset !important;
    -moz-box-shadow: 0 0 0 1000px none inset !important;
    box-shadow: 0 0 0 1000px none inset !important;
	transition: background-color 9999s ease-in-out 0s;	
   }

.swiper-container {
      width: 100%;
      height: 100%;
}
.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}